

<div class="container p-5">

  <div class="row">

    <div class="col-md-5">
      {{> tareas/tareaForm }}
    </div>

    <div class="col-md-7">
      {{> tareas/tareaTable }}
    </div>

  </div>
  
</div>
