
<nav class="navbar" style="margin-bottom: 5%; background:black">

  <div class="container-fluid">

    <span class="navbar-brand mb-0 h1" style="color:bisque">Node Task Done</span>
    
  </div>

</nav>